name: Daily Cleanup of Releases

on:
  schedule:
    - cron: '0 0 * * *' # 每天午夜运行
  workflow_dispatch:

jobs:
  reset-repo:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Delete Old Release
        uses: ophub/delete-releases-workflows@main
        with:
          delete_tags: true
          gh_token: ${{ secrets.GITHUB_TOKEN }}
          delete_releases: true
          releases_keep_latest: 1